*{
	margin: 0;
	padding: 0;
	background-color:lighten(red,50%);
}
hr{
    margin: 10px 0;
}
.elem{
    width: 00px;
    height:0px;
    border: 2px solid red;
    margin-top: 200px; 
}
.slider{
	position: relative;
	width: 300px;
	height: 10px;
	border-radius: 5px;
	background-color: #8e8bca;
	margin: 20px;
}
.thumb{
	position: relative;
	top: -5px;
	left: 0px;
	width: 10px;
	height: 20px;
	border-radius: 4px;
	background-color: #0a35f7;
	cursor: e-resize;
}
.draggable{
	border-radius: 50%;
	width: 100px;
	height: 100px;
}
#pers1{
	background-color: #f70a0a;
	}
#pers2{
	background-color: #f7d40a;
}
#pers3{
	background-color: #4df70a;
}
#field {
    width: 200px;
    height: 150px;
    background-color: #00FF00;
    position: relative;
    cursor: default;
    border: 10px solid black;
}

#ball {
    position: absolute;
    cursor: pointer;
    top:0px;
    left:0px;
    transition: all 1s;
}

.pane {
    position: relative;
    background: #edf5e1;
    padding: 10px 20px 10px;
    border-top: solid 2px #c4df9b;
}

.pane h3 {
    margin: 0;
    padding-bottom: .3em;
    font-size: 1.1em;
}

.pane p {
    margin: 0;
    padding: 0 0 .5em;
}

.remove-button {
    font-size: 110%;
    color: darkred;
    right: 10px;
    width: 24px;
    height: 24px;
    border: none;
    background: transparent;
    cursor: pointer;
}
.pane .remove-button {
    position: absolute;
    top:0;
}
#grid tr th:first-child {
    cursor: pointer;
}

#grid tr th:first-child:hover {
    background: yellow;
}